.banner {
  background-image: url(/public/assets/watch-gd35a89fa9_1920.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.texto {
  color: white;
  height: 95vh;
  width: 50%;
  z-index: 3;
  position: relative;
  width: 50%;
  align-items: start;
  padding:0 85px;
}

@media all and (max-width: 900px){
  .texto{
    width: 80%;
    height: 100vh;
  }
}

.texto h1 {
  font-family: "Merriweather", serif;
  font-size: 3rem;
}

.texto p{
  font-family: 'Reem Kufi Fun', sans-serif;
}

@media all and (width <= 500px){
  .texto{
    width: 100%;
    height: 100vh;
    padding-top: 2.5rem;
  }
  .texto h1{
    font-size: 2.2rem;
  }
  .texto p{
    font-size: .8rem
  }
}

.texto .cta {
  border: none;
  background: none;
}

.texto .cta a {
  padding-bottom: 7px;
  letter-spacing: 4px;
  font-size: 14px;
  padding-right: 8px;
  text-transform: uppercase;
}

.texto .cta svg {
  transform: translateX(-8px);
  transition: all 0.3s ease;
  display: inline-block;
  fill: white;
}

.texto .cta:hover svg {
  transform: translateX(0);
}

.texto .cta:active svg {
  transform: scale(0.9);
}

.texto .hover-underline-animation {
  position: relative;
  color: white;
  padding-bottom: 20px;
}

.texto .hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.texto .cta:hover .hover-underline-animation:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
