@media all and (min-width: 769px){
  .navbar{
    transition: all 250ms;
  }
  
  .navbar:hover{
    height: 5.3rem;
  }
}

.effect {
  display: inline-block;
  font-family: Verdana, sans-serif;
  text-decoration: none;
  color: rgb(69, 69, 69);
  font-weight: 600;
  font-size: 11px;
  letter-spacing: 2px;
  text-transform: uppercase;
  position: relative;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  padding: 10px;
}

.init{
  padding-left: 24px;
}

@media all and (max-width: 769px){
  .init{
    padding-left: 0
  }
}

.effecto {
  display: inline-block;
  font-family: Verdana, sans-serif;
  text-decoration: none;
  color: rgb(69, 69, 69);
  font-weight: 600;
  font-size: 11px;
  letter-spacing: 2px;
  text-transform: uppercase;
  position: relative;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  padding: 10px;
}

.effecto:hover {
  color: #ca8a04;
}

.effecto > svg:hover{
  fill: #ca8a04;
}

.effect:after {
  content: "";
  position: absolute;
  height: 1px;
  background-color: #ca8a04;
  width: 0;
  left: 50%;
  bottom: 0;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
  transition: 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
}

.effect:hover {
  color: #ca8a04;
}

.effect:hover:after {
  width: 100%;
}

@media all and (max-width: 769px){
    .effect, .effect:hover, .effect:after{
        color: #ca8a04;
    }
}

.linkCat {
  border: 0;
  padding: 0;
  background: transparent;
  cursor: pointer;
  line-height: 1;
  color: inherit;
  font-family: "Euclid Circular A";
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (width >= 769px) {
  .linkCat {
    font-size: 16px;
  }
}

:is(.navbar, .burger, .dropdowns) {
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar {
  z-index: 50;
  left: 0;
  display: flex;
  align-items: stretch;
  height: 72px;
  color: #f9f9f9;
}

.burger {
  z-index: 3;
  left: 0;
  display: grid;
  place-items: center;
  width: 72px;
  height: 72px;
  background-image: url("/public/assets/menu.svg");
  background-repeat: no-repeat;
  background-position: center;
}

body.open .burger {
  background-image: url("/public/assets/close.svg");
}

@media (width >= 769px) {
  .burger {
    display: none;
  }
}

.button {
  display: flex;
  align-items: center;
  gap: 4px;
  /* padding: 0 24px; */
  height: 100%;
  /* opacity: 0.6; */
  font-weight: 600;
  color: #454545;
}

@media all and (max-width: 769px) {
  .button {
    width: 100%;
    justify-content: center;
    color: #ca8a04;
  }
}

.button > svg {
  display: none;
}

@media (width >= 769px) {
  /* .button {
    padding: 0 10px 0 24px;
  } */
  .button > svg {
    display: block;
  }
}
@media (width >= 769px) {
  .dropdown:hover .button {
    opacity: 1;
  }
}
.dropdown {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.dropdowns {
  left: -9999px;
  z-index: 2;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #0d0d0e;
  opacity: 0;
  visibility: hidden;
  /* transition-property: opacity, visibility; */
  transition-duration: 0.5s;
}

@media (width < 769px) {
  body.open .dropdowns {
    opacity: 1;
    visibility: visible;
    left: 0;
  }
}
@media (width >= 769px) {
  .dropdowns {
    position: static;
    flex-direction: row;
    justify-content: flex-start;
    background: transparent;
    opacity: 1;
    visibility: visible;
  }
}

@media (width >= 769px) {
  .dropdown {
    height: 100%;
    flex-direction: row;
    padding-left: 15px;
  }
  .dropdown-menu {
    position: absolute;
    top: 60px;
    left: 20px;
    width: 180px;
    padding: 6px 15px 10px;
    margin-bottom: 0;
    place-items: start;
    background: #CA8A04;
    opacity: 0;
    visibility: hidden;
    translate: 0 24px;
    transition: 0.3s;
    border-radius: 5px;
  }
  .dropdown:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
    translate: 0 0;
  }
}

.dropdown-menu {
  display: grid;
  margin-bottom: 28px;
}
.dropdown-menu > .linkCat {
  color: #f9f9f9;
  opacity: 1;
  height: 40px;
}

@media (width >= 769px) {
  .dropdown-menu > .linkCat {
    opacity: 0.6;
  }

  .dropdown:hover .button {
    opacity: 1;
  }
  .dropdown-menu > .linkCat:hover {
    opacity: 1;
  }
}
